div.schema_title {
    font-size: 1.5em;
    font-weight: bold;
}

div.schema_description {
    font-size: 1.2em;
}

div.property_description {
    font-side: 1em;
}

ul.asdf_tree {
    list-style-type: none;
    border: 1px solid #ddd;
}

li.asdf_tree_item {
    font-size: 1.1em;
    font-weight: bold;
}

li.schema_property {
    border-bottom: 1px solid #ddd;
}

li.schema_property:last-child {
    border-bottom: none;
}

div.schema_property_name {
    font-size: 1.5em;
    font-weight: bold;
}

table {
    width: 20%;
}

td.schema_property_required {
    font-style: italic;
}

.asdf_ref {
    font-size: 1.5em;
    font-weight: bold;
}

.carousel-control {
    background: #ffffff !important;
}

.carousel-inner {
    width: 100%;
    height: 500px;
    max-height: 500px;
    overflow: scroll;
}

.example-item {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom 5%;
}

.example-description {
    top: 0;
    position: sticky;
    background: #ffffff;
    font-size: 1.25em;
}
