div.schema_title {
    font-size: 1.5em;
    font-weight: bold;
}

div.schema_description {
    font-size: 1.2em;
}

div.property_description {
    font-side: 1em;
}

div.schema_property_name {
    font-size: 1.5em;
    font-weight: bold;
}

table {
    width: 20%;
}

td.schema_property_required {
    font-style: italic;
}

.asdf_ref {
    font-size: 1.5em;
    font-weight: bold;
}

.carousel-control {
    background: #ffffff !important;
}

.carousel-inner {
    width: 100%;
    height: 500px;
    max-height: 500px;
    overflow: scroll;
}

.glyphicon.black {
    color: black;
}

.example-item, .anyof-item {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom 5%;
}

.example-description {
    top: 0;
    position: sticky;
    background: #ffffff;
    font-size: 1.25em;
    padding-left: 1%;
    padding-right: 1%;
}

.highlight-yaml {
    padding-left: 1%;
    padding-right: 1%;
}

.anyof-list {
    list-style-type: circle;
}

.anyof-list-item {
    border-bottom: 1px solid #ccc;
}
