name: CI

on:
  workflow_dispatch:
  schedule:
    # Run every Monday at 6am UTC
    - cron: '0 6 * * 1'
  push:
    branches:
      - main
      - stable
      - '*.x'
    tags:
      - '*'
  pull_request:

jobs:
  core:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      submodules: false
      envs: |
        - linux: py38
        - linux: py39
        - linux: py310
        - linux: py311

  test:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      submodules: false
      # Any env name which does not start with `pyXY` will use this Python version.
      default_python: '3.9'
      envs: |
        - macos: py39
        - windows: py39

  package:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@v1
    with:
      upload_to_pypi: false
      upload_to_anaconda: false
      test_extras: test
      test_command: pytest --pyargs asdf_standard

  asdf-dev:
    name: Run asdf-development tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout asdf-standard
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          path: asdf-standard
      - name: Checkout asdf-dev
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: asdf-format/asdf
          ref: master
          path: asdf
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install asdf-standard
        run: cd asdf-standard && pip install .
      - name: Install asdf
        run: cd asdf && pip install -e .[tests]
      - name: Pip Freeze
        run: pip freeze
      - name: Run asdf-development tests
        run: cd asdf && pytest
