name: CI

on:
  workflow_dispatch:
  schedule:
    # Run every Monday at 6am UTC
    - cron: '0 6 * * 1'
  push:
    branches:
      - main
      - stable
      - '*.x'
    tags:
      - '*'
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
    - uses: pre-commit/action@v3.0.1
  core:
    needs: [pre-commit]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      submodules: false
      envs: |
        - linux: py39
        - linux: py310
        - linux: py311
        - linux: py312
        - linux: py313

  test:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      submodules: false
      # Any env name which does not start with `pyXY` will use this Python version.
      default_python: '3.11'
      envs: |
        - macos: py39
        - windows: py39

  package:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@v2
    with:
      upload_to_pypi: false
      upload_to_anaconda: false

  asdf-dev:
    needs: [pre-commit]
    name: Run asdf-development tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout asdf-standard
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          path: asdf-standard
      - name: Checkout asdf-dev
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          repository: asdf-format/asdf
          path: asdf
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Install asdf-standard
        run: cd asdf-standard && pip install .
      - name: Install asdf
        run: cd asdf && pip install -e .[tests]
      - name: Pip Freeze
        run: pip freeze
      - name: Run asdf-development tests
        run: cd asdf && pytest
