name: CI

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Python 3.10 Schema validation tests
            python-version: '3.10'
            os: ubuntu-latest
            toxenv: py310

          - name: Python 3.9 Schema validation tests
            python-version: 3.9
            os: ubuntu-latest
            toxenv: py39

          - name: Python 3.8 Schema validation tests
            python-version: 3.8
            os: ubuntu-latest
            toxenv: py38

          - name: Python 3.7 Schema validation tests
            python-version: 3.7
            os: ubuntu-latest
            toxenv: py37

          - name: Twine check
            python-version: 3.9
            os: ubuntu-latest
            toxenv: twine

          - name: Check Python files with black autoformatter
            python-version: 3.9
            os: ubuntu-latest
            toxenv: black

          - name: Check Python files with flake8
            python-version: 3.9
            os: ubuntu-latest
            toxenv: flake8

          - name: Build documentation
            python-version: 3.9
            os: ubuntu-latest
            toxenv: docs

          - name: Bandit security audit
            python-version: 3.9
            os: ubuntu-latest
            toxenv: bandit

          - name: macOS
            python-version: 3.9
            os: macos-latest
            toxenv: py39

          - name: Windows
            python-version: 3.9
            os: windows-latest
            toxenv: py39

    steps:
      - name: Install System Packages
        if: ${{ contains(matrix.toxenv, 'docs') }}
        run: |
          sudo apt-get install graphviz
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}
